<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676049744340-4a7v1fr90a799jfmg4r7bmus1nfcvh40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676049744340-4a7v1fr90a799jfmg4r7bmus1nfcvh40</string>
	<key>API_KEY</key>
	<string>AIzaSyDEdV3t0rjJ9qViLP64ohHfiNdtGELSkK4</string>
	<key>GCM_SENDER_ID</key>
	<string>676049744340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlog</string>
	<key>PROJECT_ID</key>
	<string>blogapp-daed6</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-daed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676049744340:ios:435c7ea826e81bdb9ca641</string>
</dict>
</plist>